@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');
body{
    font-family: 'Montserrat';
    -webkit-font-smoothing: antialiased !important;
    color: #666;
    line-height: 1.7;
    background-color: aliceblue;
}
a {
    transition: color .2s linear, border .2s linear;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #49bf9d;
}
a:hover{
    border-bottom-color: transparent;
}

p{
    margin: 0 0 2em;
}

img{
    max-width: 100%;
}
h1{
    color: white;
    font-weight: normal;
    margin: 1em 0;
}

h2, h3, h4, h5, h6{
    color: #787878;
    font-weight: normal;
    margin: 1em 0;
}

h1{
    font-size: 36px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 22px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 15px;
}

sub, sup{
    font-size: 12px;
}
blockquote{
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: .5em 0 .5em 1.5em;
}

code{
    background: #f7f7f7;
    border-radius: .35em;
    border:2px solid #efefef;
    font-size: .9em;
    padding: 0.25em 0.65em;
    font-family: "courier new", monospace;
    color: #929292;
}

pre code{
    display: block;
}

ul, ol{
    margin: 0;
    padding: 0;
    padding-left: 1.1em;
}
li{
    padding-left: .5em;
}

.ul-alternate{
    list-style-type: none;
    padding-left: 0; 
}
.ul-alternate li{
    border-bottom: 2px solid white;
    padding-left: 0;
}
.ul-alternate li:last-child{
   border: 0; 
}

.ul-icons{
    list-style-type: none;
    padding-left: 0; 
}
.ul-icons li{
    display: inline-block;
    font-size: 2em;
    color: #49bf9d;
}

input, label, textarea, select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
input, textarea, select{
    background:white;
    padding: 15px;
    border-radius: 5px;
    border: 3px solid transparent;
    margin-bottom: 15px;
}
input[type="radio"], input[type="checkbox"]{
    width: auto;
}
input:focus, textarea:focus{
    border: 3px solid #49bf9d;
    outline: none;
}
textarea{
    height: 10em;
}

.button-default{
    background-color: #49bf9d;
    border: 3px solid #49bf9d;
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .8em;
    display: inline-block;
    width: auto;
    transition: all .5s;
    cursor: pointer;
}
.button-default:hover{
    background-color: #81e7ca;
    border-color: transparent;

}

.button-default-stroke{
    background-color: white;
    border-color: #efefef;
    color: inherit;
}
.button-default-stroke:hover{
    color: #49bf9d;
    border-color: #49bf9d;
    background-color: white; 
}
.button-default-small{
    font-size: .65em;
}
.button-default-big{
    font-size: 1em;
}
.button-default-full{
    display: block;
    text-align: center;
}

.imagem-link{
    border: 0;
}

.jobs-container{
    padding: 15px;
    display: flex;
    flex-direction: column;

}
.jobs-row1{

    display: flex;
    flex-direction: row;

}
.job-content{
    padding: 10px;
    align-items: center;
}
.job-content img{
    border-radius: 20px;
}
.job-content a img{
    text-decoration: none;
    
}

.table{
    width: 100%;
    margin: 0 0 2em 0;
    border-collapse: collapse;
    text-align: left;
}
.table td{
    padding: .75em;
}
.table th{
    background: #ccc;
    padding: .75em;
}
.table tbody tr td{
    border-bottom: 1px solid #ccc;
}
.table tbody tr:first-child td{
    border-top: 2px solid #666;
}
.table tbody tr:last-child td{
    border-bottom: 2px solid #666;
}

.table tbody tr:nth-child(even) td{
    background: #eee;
}

.table-alternate tbody td, .table-alternate tbody tr:first-child td, .table-alternate tbody tr:last-child td{
    border: 1px solid #ddd;
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(../images/overlay.png), url(../images/bg.jpg);
    background-position: left top;
    background-size: auto, cover;
    text-align: right;
}

.main-header-title{
    font-size: 22px;
    line-height: 1.5;
    color: white;
    font-weight: normal;
    color: rgba(255, 255, 255, .5);
}
.main-header-title strong{
    color: white;
    font-weight: normal;
}
.main-header-link{
    color: inherit;
}
.main-header-link:hover{
    color: #49bf9d;
}

.main-content{
    width: 65%;
    margin-left: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
}

.main-header img{
    border-radius: 50%;
    overflow: hidden;
}

.recent-works-card img{
    border-radius: 10px;
    overflow: hidden;
}

.main-footer{
    position: fixed;
    bottom: 0;
    width: 35%;
    left: 0;
    padding: 0 54px 72px 0;
    box-sizing: border-box;
    text-align: right;
}
.icon-link{
    color: white;
    border:0;
}
.icon-instagram:hover{
    color: #f09433;
    border: 1px;
}
.icon-twitter:hover{
    color: #00acee;
    border: 1px;
}
.icon-whatsapp:hover{
    color: #34af23;
    border: 1px;
}
.copyright{
    color:#49bf9d;
    font-size: 12px;
    border: 0;
    cursor: default;
    
}
.copyright-link{
    color: #929292;
    font-size: 12px;
    border: 0; 

}


.copyright-link:hover{
    color: #49bf9d;
}

/* Grid */
.row{
    overflow: auto;
}

.col-2{
    width: 48.5%;
    float: left;
}
.col-2:first-child{
    margin-right: 1.5%;
}
.col-2:last-child{
    margin-left: 1.5%;
}
.col-2-3{
    width: 65%;
    float: left;
}
.col-1-3{
    width: 32%;
    margin-left: 3%;
    float: left;
}